.blogLates {
    // background: red;
}

.blogLates__item--image {
    position: relative;
    height: 200px;
    border-radius: 40px;
    overflow: hidden;
    img {
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
}


.blogLates__item {
    max-width: 300px;
    margin: 0 auto 30px;
    @include breakpoint(md) {
        margin: 0;
        max-width: initial;
    }
}

.blogLates__item--date {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $purple;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 20px 20px;
    span {
        color: white;
        font-weight: 800;
        font-size: 20px;
        &.month {
            font-size: 15px;
        }
    }
}

.blogLates__item--data {
    display: flex;
    padding: 10px 10px 20px;
    span {
        display: flex;
        align-items: center;
        margin: 0 15px 0 0;
        line-height: 1;
        color: $gray;
    }
    svg {
        width: 15px;
        margin: 0 5px 0 0;
        fill: $green;
    }
}

.blogLates__item--content {
    padding: 0 10px;
    .heading {
        font-size: 25px;
        margin: 0 0 15px 0;
    }
    .btn-arrow {
        justify-content: flex-start;
    }
}