.subHeader {
    position: relative;
    background-color: #b9eef6;
    padding-top: 150px;
    padding-bottom: 100px;
    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint(md) {
        padding-top: 200px;
        padding-bottom: 150px;
    }
    @include breakpoint(lg) {
        padding-top: 150px;
        padding-bottom: 200px;
    }
}

.subHeader__wave {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: -4vw;
    svg {
        display: block;
    }
    path {
        fill: white;
    }
}


.subHeader__content {
    margin-top: 50px;
    .heading {
        font-size: 35px;
        margin: 0 0 10px;
    }
    @include breakpoint(md) {
        .heading {
            font-size: 40px;
        }
    }
}

.subHeader__breadcumbs {
    .breadcrumbs {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        margin-right: 5px;
        color: black;
        font-size: 12px;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .bread-current {
        color: $purple;
    }
}